# Database
DATABASE_URL="postgresql://username:password@localhost:5432/database_name"

# Better Auth Configuration
BETTER_AUTH_SECRET="your-secret-key-here-make-it-very-secure"
BETTER_AUTH_URL="http://localhost:3000" 
GOOGLE_CLIENT_ID=XXX
GOOGLE_CLIENT_SECRET=XXX
OPENAI_API_KEY=OPENAI_API_KEY